/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
html,body{
  margin: 0;
  padding: 0;
overflow:hidden;
background: #c0c0c0;
}

.main{
  height: calc(100vh - 36px);
  width: calc(100vw - 16px);
  padding: 8px;
}


@media screen and (orientation:portrait) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "actions mobs"
      "map map"
      "map map";
  }

  .actions { grid-area: actions; }

  .mobs { grid-area: mobs; }

  .map { grid-area: map; }

}
@media screen and (orientation: landscape) {
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
  }

  .mobs {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .map {
    display: block;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .actions {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
}

